
/*UNCTIONS*/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

/*MIXIN*/

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

//box shadow
@mixin box-shadow($top, $left, $blur, $color) {
      -webkit-box-shadow:$top $left $blur $color ;
      -moz-box-shadow:$top $left $blur $color;
      box-shadow:$top $left $blur $color ;
}

// Opacity

@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: alpha(opacity=$opacity-ie);
}

// @media

@mixin bp-xs-small{
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin transform-x($transformsX) {
	   -moz-transform: translateX($transformsX);
	     -o-transform: translateX($transformsX);
	    -ms-transform: translateX($transformsX);
	-webkit-transform: translateX($transformsX);
          transform: translateX($transformsX);
}
@mixin transition($time){
  -webkit-transition: -webkit-transform $time;
  -moz-transition: -moz-transform $time;
  transition: transform $time;
}
