/*FONT*/
$font-path:       "../fonts";
$font-family: "Arial";

//COLOR
$brand-color      :  #ff122e;
$dark-gray        :  #000000;
$bas-gray         :  #504f4f;
$light-gray       :  #a5a5a5;
$green            :  #1fe0a1;
$red              :  #ff7058;

//img
$img-path: "../img";

//border-radius-base
$border-radius-base: 20px;

//container width
$max-container : 640px;
//_icons
$icons-font-name : "icons";

//spacing
$padding-horizontal : 30px;
$padding-vertical: 30px;

//border-radius

$default-border-radius : 10px;

//screen-layout
$header-height : 88px;

//card
$profile-img-dimintion : 200px;
$card-actions-height : 130px;
