/*FONT*/
$font-path:       "../fonts";
$font-family: "Arial";

//COLOR
$brand-color      :  #fe3942;
$dark-gray        :  #000000;
$bas-gray         :  #504f4f;
$light-gray       :  #a5a5a5;
$green            :  #39cb76;
$red              :  #cc4b3a;
//img
$img-path: "../img";

//border-radius-base
$border-radius-base: 20px;

//container width
$max-container : 445px;
//_icons
$icons-font-name : "icons";

//spacing
$padding-horizontal : 15px;
$padding-vertical: 30px;

//border-radius

$default-border-radius : 10px;

//card
$profile-img-dimintion : 200px;
$card-height : 420px;
